body {
	font-family: arial, helvetica, sans-serif;
	background-color: #914814;
	color: #ffffff;
	margin: 0px;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

.content a:link {
	text-decoration: none;
	color: #ca641c;
}

.content a:visited {
	text-decoration: none;
	color: #ca641c;
}

.content a:hover {
	text-decoration: underline;
	color: #ca641c;
}

.content a:active {
	text-decoration: none;
	color: #ca641c;
}

.footer-column a:link {
	text-decoration: none;
	color: inherit;
}

.footer-column a:visited {
	text-decoration: none;
	color: inherit;
}

.footer-column a:hover {
	text-decoration: underline;
	color: inherit;
}

.footer-column a:active {
	text-decoration: none;
	color: inherit;
}

.button a:link {
	text-decoration: none;
	color: #ffffff;
}

.button a:visited {
	text-decoration: none;
	color: #ffffff;
}

.button a:hover {
	text-decoration: none;
	color: #ffffff;
}

.button a:active {
	text-decoration: none;
	color: #ffffff;
}

.centralize {
	text-align: center;
}

.section-content {
	margin: 3rem;
	flex-direction: column;
	width: 50%;
	vertical-align: middle;
	display: flex;
	justify-content: center;
}

.privacy-container {
	margin: 3rem;
}

.section-title {
	font-weight: 700;
	font-size: 3rem;
}

.section-text {
	font-weight: 600;
	font-size: 1.175rem;
}

.top-section-content {
	margin: 3rem;
	flex-direction: column;
}

.section-img-container {
	padding: 5rem;
	flex-direction: column;
	width: 50%;
	text-align: center;
}

.section-img {
	border-radius: 15px;
	width: 80%;
	max-width: 30rem;
}

.section {
	width: 100%;
	padding-bottom: 1px;
	padding-top: 1px;
}

.top {
	margin-bottom: 0px;
	position: absolute;
	top: 0px;
}

.section-type-a {
	background-color: #914814;
	background-size: cover;
}

.section-type-b {
	background-color: #673009;
	background-size: cover;
	display: flex;
	flex-direction: row;
}

.section-type-c {
	background-color: #3d1b03;
	background-size: cover;
	display: flex;
	flex-direction: row-reverse;
}

.centralizediv {
	margin: auto;
	width: 30%;
	padding: 10px;
	text-align: center;
}

#rulesContainer {
	margin: auto;
	width: 70%;
	text-align: center;
}

.rule {
	border: 2px solid #914814;
	border-radius: 10px;
	background-color: #673009;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
	text-align: left;
}

.ruletitle {
	padding: 0px;
	margin: 0px;
	font-size: 30px;
	font-weight: bold;
}

.ruleshortdesc {
	padding: 0px;
	margin: 0px;
	font-size: 20px;
}

.rulelongdesc {
	padding: 0px;
	margin: 0px;
	color: #cccccc;
}

.notice-message {
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 0;
	margin-bottom: 0;
	padding: 20px;
	border: 2px solid #461f02;
	background-color: #673009;
	border-radius: 10px;
	text-align: center;
}

.top-section-content h1 {
	font-size: 5rem;
	text-shadow: 5px 5px 0px black;
}

.top-section-content h2 {
	text-shadow: 2px 2px 0px black;
}

.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	color: #ffffff;
	border-radius: 5px;
	border: 1px solid black;
}

.topnav a.active {
	background: #914814;
}

.topnavitem {
	float: left;
}

.topnavitem.right {
	float: right;
}

.topnavitem a,
.dropbtn {
	display: inline-block;
	color: #ffffff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: background-color 0.3s ease-in-out;
}

.topnavitem a:hover,
.dropdown:hover .dropbtn {
	background-color: #ca641c;
}

.topnavitem.dropdown {
	display: inline-block;
}

.dropdown-content {
	opacity: 0;
	position: absolute;
	background-color: #393b40;
	max-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	transform: translateY(-10px);
	pointer-events: none;
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.dropdown-content a {
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #ca641c;
	color: #fff;
}

.dropdown:hover .dropdown-content {
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}

.button {
	text-decoration: none;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
	border-radius: 5px;
	border: 1px solid black;
	background-color: #ffffff;
	color: black;
}

.button:hover {
	background-color: #ca641c;
	color: #ffffff;
}

code {
	color: #f44;
	background-color: #222;
	border-radius: 3px;
	padding: 3px;
}

#cinnamonlogo {
	height: 15em;
	margin: 20px;
}

footer {
	background-color: #36393e;
	color: #ffffff;
	padding: 50px;
	margin-top: 70px;
	display: flex;
}

.footer-logo {
	height: 15rem;
	margin-right: 3rem;
}

.footer-logo-container {
	display: flex;
	width: max-content;
}

.footer-logo-text-container {
	margin: auto;
}

.footer-text-container {
	margin: auto;
	display: flex;
	column-gap: 60px;
}

.footer-column-container {
	display: flex;
	flex-direction: row;
	column-gap: 30px;
}

.footer-group {
	display: flex;
	flex-direction: column;
}

.footer-column {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	color: #dddddd;
}

.footer-group-header {
	color: #ffffff;
	margin-bottom: 10px;
}

.visual {
	height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
}

.visual-a {
	background-image: url("https://assets.cinnamon.gifts/transition-a.png");
}

.visual-b {
	background-image: url("https://assets.cinnamon.gifts/transition-b.png");
}

.visual-c {
	background-image: url("https://assets.cinnamon.gifts/transition-c.png");
}

.visual-d {
	background-image: url("https://assets.cinnamon.gifts/transition-d.png");
}

.staff-card {
	position: relative;
	overflow: hidden;
	width: 275px;
	height: 340px;
	background: #673009;
	border-radius: 5px;
	padding: 20px;
	margin: 0;
}

.staff-card-details {
	display: flex;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.staff-card-details-text {
	max-width: calc(100% - 124px);
	margin: 0;
	margin-top: 10px;
	margin-left: 14px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 0;
}

.staff-card-details-picture {
	background-color: #414942;
	min-width: 110px;
	max-width: 110px;
	min-height: 110px;
	max-height: 110px;
	border-radius: 5px;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.staff-card-details-name {
	font-size: 24px;
	padding: 0;
	margin: 0;
}

.staff-card-details-name a {
	color: #ffffff;
}

.staff-card-details-name a:hover {
	text-decoration: underline;
}

.staff-card-details-role {
	color: #ededed;
	padding: 0;
	margin: 0;
	margin-bottom: 20px
}

.staff-card-about-container {
	height: 63%;
	overflow-y: auto;
	overflow-x: hidden;
	white-space: pre-wrap;
	padding: 0;
	margin: 0;
	margin-top: 14px;
}

#staff {
	margin-bottom: 30px;
	display: grid;
	place-items: center
}

#staff #staff-categories {
	width: 95%;
	max-width: 1335px
}

#staff #staff-categories .staff-category-title {
	font-size: 36px;
	margin-top: 10vh;
	margin-bottom: 30px
}

#staff #staff-categories .staff-category-cards {
	display: grid;
	grid-auto-flow: row;
	justify-content: space-between;
	align-content: start
}

#staff #staff-categories .staff-category-cards.large-grid {
	grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
	grid-gap: 50px 58px
}

#staff #staff-categories .staff-category-cards.compact-grid {
	grid-template-columns: repeat(auto-fill, minmax(415px, 1fr));
	gap: 40px 45px
}

@keyframes vScroll {
	to {
		transform: translateY(-100%)
	}
}

@media screen and (max-width: 800px) {
	.section-title {
		font-size: 2rem;
	}

	.section-type-b {
		flex-direction: column;
	}

	.section-type-c {
		flex-direction: column;
	}

	.section-img {
		width: 100%;
		max-width: 100%;
	}

	.section-img-container {
		padding: 0px;
		text-align: center;
		margin-bottom: 5rem;
		margin-left: 5rem;
		width: 50%;
	}

	.section-content {
		width: 75%;
	}

	footer {
		flex-direction: row;
	}

	.footer-container {
		flex-direction: row;
		padding-right: 0px;
	}

	.footer-logo {
		visibility: hidden;
		position: absolute;
		bottom: 0px;
	}

	.footer-column {
		margin-right: 5px;
	}

	.topnavitem a,
	.dropbtn,
	.dropdown-content a {
		padding: 8px 3px;
		font-size: 13px;
	}
}

@media screen and (max-width: 365px) {
	.section-title {
		font-size: 2rem;
	}

	.section-type-b {
		flex-direction: column;
	}

	.section-type-c {
		flex-direction: column;
	}

	.section-img {
		width: 100%;
		max-width: 100%;
	}

	.section-img-container {
		padding: 0px;
		text-align: center;
		margin-bottom: 5rem;
		margin-left: 5rem;
		width: 50%;
	}

	.section-content {
		width: 75%;
	}

	footer {
		flex-direction: row;
	}

	.footer-container {
		flex-direction: row;
		padding-right: 0px;
	}

	.footer-logo {
		visibility: hidden;
		position: absolute;
		bottom: 0px;
	}

	.footer-column {
		margin-right: 5px;
	}

	.topnavitem a,
	.dropbtn,
	.dropdown-content a {
		padding: 8px 2px;
		font-size: 10px;
	}
}

@media screen and (max-width: 300px) {
	.section-title {
		font-size: 2rem;
	}

	.section-type-b {
		flex-direction: column;
	}

	.section-type-c {
		flex-direction: column;
	}

	.section-img {
		width: 100%;
		max-width: 100%;
	}

	.section-img-container {
		padding: 0px;
		text-align: center;
		margin-bottom: 5rem;
		margin-left: 5rem;
		width: 50%;
	}

	.section-content {
		width: 75%;
	}

	footer {
		flex-direction: row;
	}

	.footer-container {
		flex-direction: row;
		padding-right: 0px;
	}

	.footer-logo {
		visibility: hidden;
		position: absolute;
		bottom: 0px;
	}

	.footer-column {
		margin-right: 5px;
	}

	.topnavitem a,
	.dropbtn,
	.dropdown-content a {
		padding: 8px 1px;
		font-size: 2vw;
	}
}

@media screen and (min-width: 1600px) {
	.visual {
		height: 20vw;
	}
}