:root {
	--link-color: #ff9f5b;
}

body {
	font-family: arial, helvetica, sans-serif;
	background-color: #914814;
	color: #ffffff;
	margin: 0px;
}

p.content,
ul.content {
	font-size: 20px;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

.content a:link {
	text-decoration: none;
	color: var(--link-color);
}

.content a:visited {
	text-decoration: none;
	color: var(--link-color);
}

.content a:hover {
	text-decoration: underline;
	color: var(--link-color);
}

.content a:active {
	text-decoration: none;
	color: var(--link-color);
}

.footer-column a:link {
	text-decoration: none;
	color: inherit;
}

.footer-column a:visited {
	text-decoration: none;
	color: inherit;
}

.footer-column a:hover {
	text-decoration: underline;
	color: inherit;
}

.footer-column a:active {
	text-decoration: none;
	color: inherit;
}

.button a:link {
	text-decoration: none;
	color: #ffffff;
}

.button a:visited {
	text-decoration: none;
	color: #ffffff;
}

.button a:hover {
	text-decoration: none;
	color: #ffffff;
}

.button a:active {
	text-decoration: none;
	color: #ffffff;
}

.centralize {
	text-align: center;
}

.section-content {
	margin: 3rem;
	flex-direction: column;
	width: 50%;
	vertical-align: middle;
	display: flex;
	justify-content: center;
}

.section-title {
	font-weight: 700;
	font-size: 3rem;
}

.section-text {
	font-weight: 600;
	font-size: 1.175rem;
}

.top-section-content {
	margin: 3rem;
	flex-direction: column;
	display: flex;
}

.section-img-container {
	padding: 5rem;
	flex-direction: column;
	width: 50%;
	text-align: center;
}

.section-img {
	border-radius: 15px;
	width: 80%;
	max-width: 30rem;
}

.section {
	width: 100%;
	padding-bottom: 1px;
	padding-top: 1px;
}

.section-type-a {
	background-color: #3d1b03;
	background-size: cover;
}

.section-type-b {
	background-color: #673009;
	background-size: cover;
	display: flex;
	flex-direction: row;
}

.section-type-c {
	background-color: #914814;
	background-size: cover;
	display: flex;
	flex-direction: row-reverse;
}

.notice-message {
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 0;
	margin-bottom: 0;
	padding: 20px;
	border: 2px solid #461f02;
	background-color: #673009;
	border-radius: 10px;
	text-align: center;
}

.notice-message-image-container {
	text-align: center;
	height: 7em;
	margin-top: 20px;
}

.notice-message img {
	height: 100%;
	width: auto;
	border-radius: 30%;
}

.top-section-content h1 {
	font-size: 8vw;
	text-shadow: 5px 5px 0px black;
}

.top-section-content h2 {
	font-size: 2.5em;
	text-shadow: 3px 3px 0px black;
}

.top-section-content h3 {
	font-size: 1.5em;
	text-shadow: 2px 2px 0px black;
}

.button.backHomeButton {
	margin-top: 20px;
	margin-bottom: 20px;
}

.button {
	text-decoration: none;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	transition:
		background-color 0.3s ease-in-out,
		color 0.3s ease-in-out;
	border-radius: 5px;
	border: 1px solid black;
	background-color: #ffffff;
	color: black;
}

.button:hover {
	background-color: #ca641c;
	color: #ffffff;
}

code {
	color: #f44;
	background-color: #222;
	border-radius: 3px;
	padding: 3px;
}

#cinnamonlogo {
	max-height: 15em;
	margin: 20px auto;
	filter: drop-shadow(0 5px 10px rgb(0, 0, 0, 0.3));
}

footer {
	background-color: #36393e;
	color: #ffffff;
	padding: 50px;
	margin-top: 70px;
	display: flex;
}

.footer-logo {
	height: 15rem;
	margin-right: 3rem;
}

.footer-logo-container {
	display: flex;
	width: max-content;
}

.footer-logo-text-container {
	margin: auto;
}

.footer-text-container {
	margin: auto;
	display: flex;
	column-gap: 1vw;
}

.footer-column-container {
	display: flex;
	flex-direction: row;
	column-gap: 30px;
}

.footer-group {
	display: flex;
	flex-direction: column;
}

.footer-column {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	color: #dddddd;
}

.footer-group-header {
	color: #ffffff;
	margin-bottom: 10px;
}

.visual {
	height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: center;
}

.visual-a {
	background-image: url("https://assets.cinnamon.bot/transition-a.svg");
}

.visual-b {
	background-image: url("https://assets.cinnamon.bot/transition-b.svg");
}

.visual-c {
	background-image: url("https://assets.cinnamon.bot/transition-c.svg");
}

.visual-d {
	background-image: url("https://assets.cinnamon.bot/transition-d.svg");
}

.visual-e {
	background-image: url("https://assets.cinnamon.bot/transition-e.svg");
}

@media screen and (max-width: 1100px) {
	.footer-logo {
		visibility: hidden;
		position: absolute;
		bottom: 0px;
	}
}

@media screen and (max-width: 957px) {
	.footer-column-container {
		flex-direction: column;
		row-gap: 10px;
	}
}

@media screen and (max-width: 800px) {
	.section-title {
		font-size: 2rem;
	}

	.section-type-b {
		flex-direction: column;
	}

	.section-type-c {
		flex-direction: column;
	}

	.section-img {
		width: 100%;
		max-width: 100%;
	}

	.section-img-container {
		padding: 0px;
		text-align: center;
		margin: auto;
		width: 75%;
	}

	.section-content {
		width: unset;
	}
}

@media screen and (max-width: 714px) {
	.footer-text-container {
		flex-direction: column;
		row-gap: 25px;
	}
}

@media screen and (max-width: 534px) {
	footer {
		flex-direction: column;
	}

	.footer-logo-container {
		margin: auto;
		margin-bottom: 5rem;
		text-align: center;
	}
}

@media screen and (min-width: 1600px) {
	.visual {
		height: 20vw;
	}
}
