#rulesContainer {
	margin: auto;
	width: 70%;
	text-align: center;
}

.rule {
	border: 2px solid #914814;
	border-radius: 10px;
	background-color: #673009;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
	text-align: left;
}

.ruletitle {
	padding: 0px;
	margin: 0px;
	font-size: 30px;
	font-weight: bold;
}

.ruleshortdesc {
	padding: 0px;
	margin: 0px;
	font-size: 20px;
}

.rulelongdesc {
	padding: 0px;
	margin: 0px;
	color: #cccccc;
}