name: Style

permissions: write-all

on:
    push:
        branches: ["main", "assets", "go"]
    pull_request:
        types: [opened, synchronize]
    merge_group:

jobs:
    ci:
        name: Check - (${{ matrix.cmds }})
        timeout-minutes: 15
        runs-on: ubuntu-latest
        strategy:
            matrix:
                cmds: ["deno task style:check"]
        steps:
          - uses: denoland/setup-deno@v2
            with:
                cache: true

          - name: Check out code
            uses: actions/checkout@v6
            with:
                submodules: true

          - name: Install dependencies
            run: bun install
            shell: bash

          - name: Run Check
            run: ${{ matrix.cmds }}
            env:
                CI: 1
